*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.cont{
    max-width: 1200px;
    width: 100%;
    padding: 0 32px;
    margin: 0;
}


// @import'nav';
// @import'sect1';
// @import'sect2';
// @import'sect3';
// @import'sect4';
@import'sect5';
// @import'sect6';

